Christopher J. Madsen <cjm@cpan.org> <perl@cjmweb.net>
Jesse Luehrs <doy@cpan.org> <doy@tozt.net>
Karen Etheridge <ether@cpan.org>
Olivier Mengué <dolmen@cpan.org>
Ricardo Signes <rjbs@cpan.org> <com.github@rjbs.manxome.org>
Kent Fredric <kentnl@cpan.org>
